@model IEnumerable<Pracownice.Models.WyswietloneDane>

@foreach (var item in ViewData)
{
    if (item.Value != null )
    {
        <div class="ZoltePole">
            <div class="NapisZoltePole">
                @item.Key
            </div>

            <div class= "DanePracownicy">
                @item.Value
            </div>
        </div>
    }
}



