<div class="stopka">
    <div style="text-align:left;
                position:absolute;
                left:20px;
                top:5px">
        2011 PRACOWNICE.pl
    </div>

     <div style="text-align:right;
                position:absolute;
                right:20px;
                top:5px">

            <a href="#">Strona Główna</a>
			<a href="#">Reklama</a>
			<a href="#">Regulamin</a>
            <a href="#">Kontakt</a>
    </div>

        

</div>
