
<div class="leftPanel" style="max-width:180px">

    <img src="../../Content/Images/slider.png" />

    @Html.Partial("../Elements/Slider_Full") 
    @Html.Partial("../Elements/_MenuUnderSlider")
        

</div>




