.menu
{
    overflow:auto;
    height:auto;
    display:block; 
    
    
}


.MenuUnderSlider
{
    display:block;
    position:relative;
    height:auto;
    width:auto;
    z-index:100;
    margin-top:-75px;
    margin-left:-10px;

}


.menuGrafikaLinia
{
    position:absolute;
    display:block;
    margin-top:-5px;
}

.menuGrafikaTrojkat
{
    position:absolute;
    margin-left:177px;
    margin-top:-25px;
}

#menu {
	width:238px;
}
#menu .zakladka {
	font-size:13px;
	font-family:Myriad Pro;
    text-transform:uppercase;
	color:#f9ef8a;
	padding:2px 12px 0px;
	width:230px;
	height:29px; 
	margin:0px;
	float:left; 
	cursor: pointer;
}


 
#menu ul {
	float:left;
	width:100%;
	margin-left:-22px;
	margin-top:-10px;
 
}
#menu ul li {

	list-style:none;
	display:block;;
	height:14px;
	width:100%;
	padding:3px 2px;
	margin-bottom:2px;
}
#menu ul li a {
	display:block;
	font-size:0.8em;
	color:#dad5d5;
	text-decoration:none;
}