/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/


body {
    background: url(Images/background3.jpg);
    background-position:center;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #696969;
    margin-top:-50px;
    margin-left:-140px;
    text-align:center;
    background-color:Black;
    display:block;
}


.Background{
 
margin-left:50%;

}



div#container
{
	margin-left: auto;
	margin-right: auto;
	width: 50em;
	text-align: left;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}



/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
#mainContent
{
    position:relative;
    display:block;
}

#footerContent
{
    position:relative;
    display:block;
    float:left;
}






/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page 
{
	margin-left: auto;
	margin-right: auto;
	width: 50em;
	text-align: left;
    top:-20px;

}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

.top{
    background: url(Images/TopPanel/top.png) ;
    margin-top:0px;
    height:200px;
    display:block;
}

.logo
{
    width:auto;
    height:50px;
    position:relative;
    margin-top:50px;
    display:block;
    resize:both;
}

.kobitaLogo
{
    height:200px;   
    width:393px;
    display:block;
    position:relative;
    margin-top:-50px;
    margin-left:180px;
}

.flagi
{
    top:15px;
    left:240px;
    display:block;
    position:absolute;
}

.napisGora
{
    font-family:Myriad Pro;
    font-size:12px;
    text-align:center;
    width:50px;
    height:auto;
    color: #fbf28c;   
    display:block;
    position:absolute;  
}

.napisPanowie
{
    top:63px;
    left:16px;   
    position:absolute; 
}

.napisPanie
{
    top:63px;
    left:92px;   
    position:absolute; 
}

.napisKluby
{
    top:63px;
    left:158px;   
    position:absolute; 
    display:block;
}

.napisZarejstruj
{
    left:135px;
    top:5px;
    font-family:Myriad Pro;
    font-size:14px;
    text-align:center;
    width:80px;
    height:auto;
    color: #fbf28c;   
    display:block;
    position:absolute;    
}

.loginRegister
{
    width:250px;
    height:auto;
    position:absolute;
    display:block;   
    left:230px;
    top:50px;
}


.panelPrawaStrona
{ 
    background: url(/Content/Images/TopPanel/panel.png) no-repeat;
    width:474px;
    height:200px;
    position:relative;
    top:0px;
    left:500px;
    top:-200px;
    z-index:1;
}

.napisSzukajOgloszenia
{
    position:absolute;
    z-index:0;
    top:150px;
    left:30px;
    font-family:Myriad Pro;
    font-size:12px;
    text-align:center;
    width:50px;
    height:auto;
    color: #463013;   
    font-weight: bold;
    display:block;
}

.napisKontaktZnami
{
    position:absolute;
    z-index:0;
    top:150px;
    left:150px;
    font-family:Myriad Pro;
    font-size:12px;
    text-align:center;
    width:40px;
    height:auto;
    color: #463013;   
    font-weight: bold;
    display:block;
}

.napisOfertyPracy
{
    position:absolute;
    z-index:0;
    top:150px;
    left:250px;
    font-family:Myriad Pro;
    font-size:12px;
    text-align:center;
    width:40px;
    height:auto;
    color: #463013;   
    font-weight: bold;
    display:block;
}

.napisDodajNowyAnons
{
    position:absolute;
    z-index:0;
    top:150px;
    left:350px;
    font-family:Myriad Pro;
    font-size:12px;
    text-align:center;
    width:70px;
    height:auto;
    color: #463013;   
    font-weight: bold;
    display:block;
}

/* LeftPanel
----------------------------------------------------------*/
.leftPanel
{
    
    display:block;
    z-index:1; 
    /*
    position:relative;
    width:auto;
    height:auto;
    */
}


/* Sidebar
----------------------------------------------------------*/
.sliderFull
{
    position:relative;
    margin-top:-355px; 
    margin-left:5px;   
    display:block;
    height:400px;
}


/* Main Content
----------------------------------------------------------*/
#main 
{
    position:relative;
    margin-top: -400px;
    margin-left:200px;
    width:750px; 
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    min-height:100px;  
}

.RamkaFotka
{
    position:relative;
    display:inline-block;
    margin-left:10px;
    background: url(/Content/Images/ramka.png) no-repeat;
    width:135px;
    height:203px;
}

.Fotka
{
    position:relative;
    display:inline-block;
    width:auto;
    height:auto;
    max-width:95px;
    max-height:170px;
    overflow:hidden;  
    padding: 10px 15px 20px 15px;
}

/* TODO:: Zastanowic sie nad wielkoscia zdjec
------------------------------------------------------------*/
.FotkaResize {
width :  106px;
height : 140px;
}

.FotkaImie
{
    font-family:Myriad Pro;
    font-size:14px; 
    width:100px;
    height:20px;
    
    color: #dbb245 ;   
    display:block;
    position:relative;
    text-align:center;
    max-height:20px;  
}

.FotkaMiasto
{
    font-family:Myriad Pro;
    font-size:12px; 
    text-align:center;
    width:100px;
    height:auto;
    color: #FFFFFF ;   
    display:block;
    position:relative;   
    
}


/* STOPKA
------------------------------------------------------------*/
.stopka
{
     background: url(Images/stopaTlo.png);
     background-position:center;
     background-repeat:repeat-y;
     text-align:center;
     width:984px;
     display:block;
     position:relative;
     margin-top:20px;
     height:30px;
}

a:link {
    text-decoration:none;
    color: #6f6f6f;
}

a:visited 
{
    text-decoration:none;
    color: #6f6f6f;
}

a:active {

    color: #6f6f6f;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
   
}


/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    margin-top: 40px;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}


/* Styles for ListBox
----------------------------------------------------------*/



/* Styles for editor
----------------------------------------------------------*/

.zaloguj
{
  display:block;
  position:absolute;
  left:130px;
  top:30px;   
}

.display-field, 
.editor-field {
  width:50px;
}

.text-box {
    width:80px;
    position:relative;
    display:block;
    top:50px;
    left:150px;
}  

input[type=text], input[type=password], select
{
	border: 1px solid #8A8575;
	width: 120px;
	-webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
} 

.text-box.multi-line {
    height: 6.5em;
}


