
<div class="MenuUnderSlider">

     <div id="menu">
 
		<div class="zakladka">Zakładka 1</div> 
			<ul id="mSlider">
				<li><a href="#">Podmenu link 1</a></li>
				<li><a href="#">Podmenu link 2</a></li>
				<li><a href="#">Podmenu link 3</a></li>
			</ul>

		<div class="zakladka">Zakładka 3</div> 
			<ul id="mSlider">
				<li><a href="#">Podmenu link 1</a></li>
				<li><a href="#">Podmenu link 2</a></li>
				<li><a href="#">Podmenu link 3</a></li>
			</ul>
		<div class="zakladka">Zakładka 4</div> 
			<ul id="mSlider">
				<li><a href="#">Podmenu link 1</a></li>
				<li><a href="#">Podmenu link 2</a></li>
 
				<li><a href="#">Podmenu link 3</a></li>
			</ul>
 
	</div>

</div>




