
<div class="MenuUnderSlider">
     <div id="menu">
		<div class="zakladka">Najczęsciej komentowane
            <div class="menuGrafikaLinia">
                <img src="../../Content/Images/linia.png" />

                   <div class="menuGrafikaTrojkat">
                        <img src="../../Content/Images/trojkat.png" />
                  </div>
            </div>
        </div>   
		<ul id="mSlider">
			<li><a href="#">Podmenu link 1</a></li>
			<li><a href="#">Podmenu link 2</a></li>
			<li><a href="#">Podmenu link 3</a></li>
		</ul>

		<div class="zakladka">Polecane
            <div class="menuGrafikaLinia">
                <img src="../../Content/Images/linia.png" />

                    <div class="menuGrafikaTrojkat">
                        <img src="../../Content/Images/trojkat.png" />
                    </div>
                </div>
        </div>
		<ul id="mSlider">
			<li><a href="#">Podmenu link 1</a></li>
			<li><a href="#">Podmenu link 2</a></li>
			<li><a href="#">Podmenu link 3</a></li>
		</ul>

		<div class="zakladka">Ostatnio Dodane   
           <div class="menuGrafikaLinia">
                <img src="../../Content/Images/linia.png" />

                    <div class="menuGrafikaTrojkat">
                        <img src="../../Content/Images/trojkat.png" />
                    </div>
            </div>
        </div>
		<ul id="mSlider">
			<li><a href="#">Podmenu link 1</a></li>
			<li><a href="#">Podmenu link 2</a></li>
 
			<li><a href="#">Podmenu link 3</a></li>
		</ul>
	</div>
</div>




