@model  Pracownice.Models.Pracownica

@{
    ViewBag.Title = "_TwojeUslugi";
}

<fieldset>
    <legend>Twoje Usługi
        <legend>
            <span id="SpecialSpan"
                    onmouseover="this.style.cursor='pointer'"
                    onmouseout="this.style.cursor='default'"
                    onclick="HideOrShowProfilePhoto('TwojeUslugiEdit', 'pokazGaleria')";>
                    <div class="PracownicaUniwersalnaCzcionkaCiemna" id="pokazGaleria" style="margin-left:-1px">
                    Pokaż
                    </div>
            </span>
        </legend>
    </legend>

    <table id="results">
        <div id="TwojeUslugiEdit" style="margin-top:-5px; visibility:hidden; height:0px">
            @foreach (var item in Model.Uslugi)
            { 
                <tr> 
                    <td>
                        @Html.Action("UslugiEdit", "Pracownica", item)
                    </td>
                </tr>
            }
        </div>
    </table>
    <div id="pageNavPosition"></div> 
</fieldset>

<script type="text/javascript" src="../../Content/Paginator/paging.js"></script>
 <script type="text/javascript">
     var pager = new Pager('results', 4);
     pager.init();
     pager.showPageNav('pager', 'pageNavPosition');
     pager.showPage(1);
</script>